@charset "UTF-8";
/***************************
*******Colores IJC**********
***************************/
/*
Verde: #6CC24A
Azul: #00C1D5
Naranja: #FF6900
Negro: #FF6900
*/

/*Estilos generales*/
* {
	margin: 0;
	font-size: 1vw;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

/*Estilos cabeceras*/
h1 {
	padding: 15px;
	color: #FFFFFF;
	background-color: #FF6900;
	font-size: 2vw;
}

/*Estilo funcionalidades: buscar y filtrar*/
section#buscar {
	padding: 15px;
	text-align: right;
}

input {
	border: 1px solid #6CC24A;
	padding: 5px;
	margin-right: 5px;
	box-shadow: 5px 5px 5px #777777;
}

/*Estilo tabla principal*/
section#tabla {
	width: 99%;
	display: flex-table;
	margin-left: 0.5%;
	margin-bottom: 10px;
	
}

.fixe {
	position: fixed;
	top: 0;
	width: 99%;
	background-color: #FFFFFF;
	box-shadow: 0 10px 6px -6px #777777;
}

.negreta {
	font-weight: bold;
}

.centrat {
	text-align: center;
}

.titol {
	color: #00C1D5;
	font-size: 1.5vw;
	border-bottom: 1px solid #00C1D5;
}

#cabecera {
	border-bottom: 1px solid #00C1D5;
}

.celda {
	width: 8%;
	padding: 4px 6px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}
