@charset "UTF-8";
/***************************
*******Colores IJC**********
***************************/
/*
Verde: #6CC24A
Azul: #00C1D5
Naranja: #FF6900
Negro: #000000
*/

/*Estilos generales*/
* {
	margin: 0;
	font-size: 1vw;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

/*Estilos cabeceras*/
h1 {
	padding: 15px;
	color: #FFFFFF;
	background-color: #FF6900;
	font-size: 2vw;
}

