section {
	display: inline-table;
	width: 24%;
	border: 1px solid #6CC24A;
	padding: 10px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
}

section h3 {
	color: #6CC24A;
	text-align: center;
}

section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	columns: 3;
}

section ul li::before {
	content: "- ";
	color: #6CC24A;
}

section ul li a, section ul li a:visited {
	color: #FF6900;
	text-decoration: none;
}

section ul li a:hover {
	text-decoration: underline;
}

section input {
	border: 0;
	border-bottom: 1px solid #00C1D5;
	padding: 5px;
	margin-top: 10px;
	width: 75%;
}

section button {
	border-radius: 5px;
	color: #FFFFFF;
	border: 0;
	background-color: #00C1D5;
	padding: 5px;
	width: 22%;
}