/*Estilo funcionalidades: buscar y filtrar*/
section#buscar {
	padding: 15px;
	float: right;
	display: inline;
}

section#buscar input {
	border: 1px solid #6CC24A;
	padding: 5px;
	margin-right: 5px;
	box-shadow: 5px 5px 5px #777777;
}

section#filtrar {
	padding: 15px;
	text-align: left;
}

section#filtrar button {
	border: 1px solid #00C1D5;
	background-color: #00C1D5;
	padding: 5px 20px;
	cursor: pointer;
	color: #FFFFFF;
	transition-duration: 0.3s;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

section#filtrar button:hover {
	background-color: #FFFFFF;
	color: #000000;
}

section#filtrar button:active {
	box-shadow: none;
}

section#filtrar button.abierto {
	background-color: #FFFFFF;
	color: #000000;
}

#filtros {
	margin-top: 10px;
	display: none;
}

#filtros ul {
	column-count: 12;
	list-style-type: none;
}

#filtros ul li {
	padding: 5px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#filtros ul li.selected {
	background-color: #00C1D5;
	color: #FFFFFF;
}

/*Estilos barra de progreso*/
#barra {
	width: 99%;
	background-color: #DDDDDD;
	height: 40px;
	line-height: 40px; /*Para centrar el contenido de la barra de progreso*/
	margin: auto;
}

#verbBarra {
	width: 99%;
	text-align: center;
	margin: auto;
}

#progreso {
	background-color: #6CC24A;
	color: #FFFFFF;
	height: 40px;
	width: 0%;
}

/*Estilo tabla principal*/
section#tabla {
	width: 99%;
	display: flex-table;
	margin-left: 0.5%;
	margin-bottom: 10px;
}

.fixe {
	position: fixed;
	top: 0;
	width: 99%;
	background-color: #FFFFFF;
	box-shadow: 0 10px 6px -6px #777777;
}

.negreta {
	font-weight: bold;
	cursor: pointer;
}

.centrat {
	text-align: center;
}

.titol {
	color: #00C1D5;
	font-size: 1.5vw;
	border-bottom: 1px solid #00C1D5;
}

#cabecera {
	border-bottom: 1px solid #00C1D5;
}

.celda {
	width: 7%;
	padding: 8px 2px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

.modal {
	display: none; 
	position: fixed;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #FFFFFF;
	margin: 5% auto;
	width: 70%;
	border: 2px solid #6CC24A;
	padding: 5px;
	box-shadow: 5px 5px 5px #777777;
}

.modal .close {
	float: right;
	color: #aaaaaa;
	font-size: 28px;
	font-weight: bold;
}

.modal .close:hover, .modal .close:focus {
	color: #000000;
	cursor: pointer;
}

.modal p {
	padding: 15px;
	display: table;
}

.modal h2 {
	color: #6CC24A;
	text-decoration: underline; 
}

.modal a, .modal a:visited {
	color: #00C1D5;
	text-decoration: none;
}

.modal a:hover {
	text-decoration: underline;
}

.modal .filatab {
	display: table-row;
}

.modal .celdatab {
	display: table-cell;
	padding: 5px;
}

.modal .key {
	font-weight: bold;
	vertical-align: top;
}